{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div>
    <h1>About Page</h1>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, aperiam nesciunt! Neque exercitationem, laboriosam commodi nam fuga qui repellat veritatis cumque iure alias consequuntur aperiam ipsam, esse optio distinctio repudiandae.</p>
    </div>
    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam voluptate doloremque porro ipsum, quia modi. Sed perspiciatis magni officia quaerat nam tenetur cupiditate facilis autem eaque rerum deserunt modi, culpa laudantium dolore reprehenderit sunt debitis, ut, vero qui alias dolorem quo nostrum aliquid. Cupiditate, odit. Officia similique perferendis facilis?</p></div>

</div>
{% endblock body %}