<!-- <script type="text/javascript">
    $("#search").click(function(){
        let symbol = $("#symbolid").val();
        let csr = $("input[name = csrfmiddlewaretoken]").val();

        if (symbol == ''){
            console.log('Enter valid symbol');
        }else{
            mydata = {symbol: symbol, csrfmiddlewaretoken: csr};
            $.ajax({
                url: "{% url 'indexPage' %}",
                method: "POST",
                data: mydata,
                dataType: "json",
                success: function (data) {
                    // console.log(data);
                    if (data.symbol){
                        console.log('data loadded...');
                        console.log(data.msg)
                        $("form")[0].reset();

                    }
                }
            })
        }
    });
</script> -->


<script type="text/javascript">
    console.log('Hello i am in console script')
    var context = "{{ msg }}"
    console.log('mydata.msg => ',context)
    const  mydata = "{{ msg|safe }}";
    console.log('context|safe => ',mydata)

</script>