{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container mt-2">
    {% if flage == 1 %}
    <h2>{{ msg }}</h2>
    <h4>Last traded price : <strong>{{ last_trade_price }}</strong> </h4>
    <hr>
    <h4>OHLC : </h4>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
        </tr>
        <tr>
            {% for d in ohlc %}
            <td>{{ d }}</td>
            {% endfor %}
        </tr>
    </table>
    <hr>
    <h4>Price change today : <strong>{{ price_change_today }}</strong> </h4>
    <hr>
    <h4>% price change in last 2 weeks : </h4>
    <table>

        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>percent_change</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.Date}}</td>
            <td>{{i.Open}}</td>
            <td>{{i.High}}</td>
            <td>{{i.Low}}</td>
            <td>{{i.Close}}</td>
            <td>{{i.pct_change_price}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr><hr>

    {% elif flage == 0 %}
    <h2>{{ msg }}</h2>
    {% endif %}
</div>

{% endblock body %}