<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>

<body>
    <header>
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> -->
        <div class="hero">
            <h1>Text Summarizer</h1>
            <p>Summarize your text with ease</p>
        </div>
    </header>
    <main>
        <section>
            <h2>Enter Text to Summarize</h2>
            <form action="/predict" method="post">
                <textarea placeholder="Paste your text here" rows="10" name="text"></textarea>
                <label for="num_sentences">Number of Sentences in Summary (Compression ratio):</label><br>
                <input type="number" id="num_sentences" name="num_sentences" min="1" max="10" value="5"><br><br>
                <button type="submit">Summarize</button>
            </form>
        </section>
        <section>
            <h2>Summary</h2>
            <div class="summary">
                {% if flag %}
                <!-- <p>{{ summary_result }}</p> -->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2>Method : {{result1[0]}} </h2>
                            <p>{{result1[1]}}</p>
                            <img src="{{ url_for('static', filename = result1[2][7:]) }}" class="img-fluid" width="600" height="400" alt="Result1">
                        </div>
                        <div class="col">
                            <h2>Method : {{result2[0]}} </h2>
                            <p>{{result2[1]}}</p>
                            <img src="{{ url_for('static', filename = result2[2][7:]) }}" class="img-fluid" width="600" height="400" alt="Result2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>Method : {{result3[0]}} </h2>
                            <p>{{result3[1]}}</p>
                            <img src="{{ url_for('static', filename = result3[2][7:]) }}" class="img-fluid" width="600" height="400" alt="Result3">
                        </div>
                        <div class="col">
                            ...
                        </div>
                    </div>
                </div>
                {% else %}
                <p>Your summary will appear here</p>
                {% endif %}
            </div>
        </section>
    </main>
    <footer>
        <p>© 2023 Text Summarizer</p>
    </footer>
</body>

</html>