{% extends "base.html" %}
{% block content %}

<!-- https://source.unsplash.com/720x600/?paper,pen -->
<!-- https://source.unsplash.com/1080x720/?job,work,happy -->

<!-- main body -->
<br><br>
<center>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='style/img/qanda.jpg' ) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Personality Test</h5>
                    <p class="card-text">Some words used to describe aspects of personality are often applied to the same person.</p>
                    <a href="/qanda" class="btn btn-primary">Visit me</a>
                </div>
            </div>
        </div>
    </div>
</div>
</center>

{% endblock %}