{% extends "base.html" %}
{% block content %}

<div id="chart1"></div>
<div id="chart2"></div>
<div id="chart3"></div>

<!-- script -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
    var graphs1 = {{ graph1JSON | safe}};
    Plotly.plot("chart1", graphs1,{});

    var graphs2 = {{ graph2JSON | safe}};
    Plotly.plot("chart2", graphs2,{});

    var graphs3 = {{ graph3JSON | safe}};
    Plotly.plot("chart3", graphs3,{});

</script>


{% endblock %}