{% extends "base.htm" %}
{% block content %}

<!-- https://source.unsplash.com/720x600/?paper,pen -->
<!-- https://source.unsplash.com/1080x720/?job,work,happy -->


<!-- main body -->
<center>
<h1>Choose Your Symptoms</h1>
</center>
<br>
<div class="container"> 

    <div class="row">
        <div class="col">
            <form action="/getResult" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td><input type="text" value="age"></td>
                            <td><input type="text" value="blood_pressure"></td>
                            <td><input type="text" value="specific_gravity"></td>
                            <td><input type="text" value="albumin"></td>
                            <td><input type="text" value="sugar"></td>
                            <td><input type="text" value="red_blood_cells"></td>
                        </tr>
                        <tr>
                            <td><input type="text" value="pus_cell"></td>
                            <td><input type="text" value="pus_cell_clumps"></td>
                            <td><input type="text" value="bacteria"></td>
                            <td><input type="text" value="blood_glucose_random"></td>
                            <td><input type="text" value="blood_urea"></td>
                            <td><input type="text" value="serum_creatinine"></td>
                        </tr>
                        <tr>
                            <td><input type="text" value="sodium"></td>
                            <td><input type="text" value="potassium"></td>
                            <td><input type="text" value="haemoglobin"></td>
                            <td><input type="text" value="packed_cell_volume"></td>
                            <td><input type="text" value="white_blood_cell_count"></td>
                            <td><input type="text" value="red_blood_cell_count"></td>
                        </tr>
                        <tr>
                            <td><input type="text" value="hypertension"></td>
                            <td><input type="text" value="diabetes_mellitus"></td>
                            <td><input type="text" value="coronary_artery_disease"></td>
                            <td><input type="text" value="appetite"></td>
                            <td><input type="text" value="peda_edema"></td>
                            <td><input type="text" value="aanemia"></td>
                        </tr>
                        
                    </tbody>
                </table>

            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
          {{col_names}}
        </div>
    </div>

</div>


{% endblock %}